.board{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 5rem 5rem 5rem;
    width: auto;
    margin: 1rem;
    column-gap: .3rem;
    row-gap: .3rem;
}


.refresh{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 10rem;
    height: 5rem;
    border: none;
}

.refresh > button{
    border: 2px solid black;
    border-radius: .3rem;
    background-color: rgb(255, 156, 120);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    font-weight: 700;
    font-size: large;
}

