.player{
    display: block;
    width: auto;
    margin: .5rem;
    border: 2px solid black;
    border-radius: .3rem;
    background-color: rgb(181, 223, 223);
    font-family: sans-serif;
    text-align: center;
}


.player_name{
    color: rgb(233, 22, 22);
}