.result{
    display: grid;
    align-self: center;
    justify-self: center;
    background-color: rgb(122, 255, 142);
    margin: 1rem;
    border-radius: .3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    border: 2px solid black;
    width: 80%;
}

.draw{
    display: grid;
    align-self: center;
    justify-self: center;
    background-color: rgb(255, 206, 122);
    margin: 1rem;
    border-radius: .3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    border: 2px solid black;
    width: 80%;
}

.new_match{
    display: grid;
    justify-content: center;
}

.new_match > button{
    height: 5rem;
    width: 20rem;
    background-color: rgb(255, 147, 105);
    letter-spacing: .3rem;
    font-family: sans-serif;
    font-size: x-large;
    border: 2px solid black;
    border-radius: .3rem;
}

.player_name{
    color: rgb(233, 22, 22);
    font-family: sans-serif;
    font-size: x-large;
}

.draw_player_name{
    color:rgb(133, 137, 20)
}